:host {
  display: block;
}

.container {
  height: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 16px;
}

.blue {
  background: rgb(0, 60, 255);
}

.green {
  background: rgb(0, 202, 17);
}

.red {
  background: rgb(255, 60, 0);
}

.emoji {
  font-size: 32px;
  position: absolute;
  left: 8px;
  top: 8px;
  width: 44px;
  text-align: center;
}

.navbar {
  background: #eee;
  font-size: 1em;
  height: 80px;
  margin-bottom: 16px;
  transition: all 250ms ease-out;
  z-index: 1;

  h1 {
    margin: 0;
  }

  &.sb-sticky {
    background: #fff;
    box-shadow: 0 1px 0px rgba(0,0,0,0.14), 0 1px 6px 1px rgba(0,0,0,0.07);
    height: 64px;
    font-size: 0.8em;
  }
}

.some-sticky-parent,
.some-sticky-event {
  color: white;
  border-radius: 5px;
  position: relative;

  &::before {
    content: "";
    background: url(../assets/diagonal-stripes-bg.png);
    opacity: 0.14;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
}

.some-sticky-element,
.some-sticky-event {
  padding: 24px;
}

.some-sticky-parent {
  height: 500px;
}

.some-sticky-element {
  background: rgba(0,0,0,0.54);
  border-radius: 5px 5px 0 0;
  padding-left: 56px;
  position: relative;
}

.some-sticky-event {
  border-left: 48px solid rgba(0,0,0,0.54);
  padding-left: 16px;
}
