html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: 'Varela Round', Lato, Arial, Helvetica, sans-serif;
}

a.button {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.14);
  box-shadow: 0 1px 0px rgba(0,0,0,0.14), 0 1px 6px 1px rgba(0,0,0,0.07);
  color: rgba(0,0,0,0.87);
  font-size: 14px;
  font-weight: bold;
  height: 36px;
  padding: 0 6px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 250ms ease-in-out;

  .icon + .text {
    margin: 0 3px 0 6px;
  }

  &:hover {
    background: rgba(0,0,0,0.14);
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
  }
}

code {
  background: rgba(0,0,0,0.14);
  border-radius: 5px;
  font-size: 1.1em;
  line-height: 1.5em;
  padding: 1px 6px;
  margin: 0 2px;
}

.secondary-text {
  color: lighten(#000, 54%);
}

@each $size in (4,8,16,32) {
  .mr-#{$size} {
    margin-right: $size + 'px';
  }
  .ml-#{$size} {
    margin-left: $size + 'px';
  }
  .mt-#{$size} {
    margin-top: $size + 'px';
  }
  .mb-#{$size} {
    margin-bottom: $size + 'px';
  }
}
